<p-dialog [style]="{'max-width':'200px', 'min-height':'300px'}" [modal]="true" header="Részletek" [(visible)]="this.bookDetailsService.displayModal" (onHide)="closeDetails()" (onShow)="openDeteils()">
	<div *ngIf="result">
		<h2>{{result.volumeInfo.title}}</h2>
        <h3>{{result.volumeInfo.authors}}</h3>
        <img *ngIf="result.volumeInfo.imageLinks" class="responsive" src="{{result.volumeInfo.imageLinks.thumbnail}}">
        <div *ngIf="result.saleInfo.saleability != 'NOT_FOR_SALE' && result.saleInfo.listPrice">
        	{{result.saleInfo.listPrice.amount}} {{result.saleInfo.listPrice.currencyCode}}
        </div>
        <app-add-cart-btn [selfLink]="result" [embeddable]="result.accessInfo.embeddable"></app-add-cart-btn>
	</div>
</p-dialog>