<p class="description">
  A keresni kívánt kifejezéseket kérem vesszővel válassza el.
</p>

<div class="ui-g">
    <div class="ui-g-12 ui-md-12">
		<div class="ui-g-10">
		 	<input class="full-width" [(ngModel)]="searchInputValue" #searchField="ngModel" type="text" pInputText/>
		 	<div *ngIf="letsValidate" class="alert">
		 		A mezőnek kell kifejezést és vesszőt tartalmaznia!
		 	</div>
		</div>

		<div class="ui-g-2">
			<p-button icon="fa fa-search" style="width: 100%;" styleClass="full-width" (onClick)="searchSimultaneously()"></p-button>
		</div>
	</div>
</div>