.cast-item-gap, .fa {
	cursor: pointer;
}

.make-gap {
	margin-top: 10px;
	margin-bottom: 10px;
}

.cast-item-gap:hover {
	color: #003580;
}

.fa {
	padding: 5px;
	margin-right: 5px;
	border-radius: 3px;
	color: white;
}

.fa-info-circle {
	background: #007ad9;
}

.fa-trash {
	background: #e91224;
}