<div style="position: fixed; top: 0;">
	<button type="text" (click)="displayCart = true" pButton icon="fa fa-shopping-cart" label="{{numberOfItems}}"></button>
</div>

<p-sidebar [(visible)]="displayCart" position="right">
    <h2>Kossár</h2>
    <div *ngFor="let item of theContentOfCart; index as i;">
    	<div class="make-gap">
    		<i class="fa fa-trash" pTooltip="Törlés" (click)="deleteIthem(i)" tooltipPosition="bottom"></i>
    		<i class="fa fa-info-circle" pTooltip="Részletek" (click)="openDetaisl(item.selfLink)" tooltipPosition="bottom"></i>
    		<span class="cast-item-gap">{{item.volumeInfo.title}}</span> 
    	</div>
    </div>
</p-sidebar>
