<div class="container">
	<app-cart></app-cart>
	
    <p-tabView>
        <p-tabPanel header="Keresés">
           <app-simple-search (results)="handelSearchValue($event)"></app-simple-search>
        </p-tabPanel>
        <p-tabPanel header="Párhuzamos keresés">
            <app-simultaneously (resultsSimultaneouslySearch)="simultaneouslySearchHandel($event)"></app-simultaneously>
        </p-tabPanel>
    </p-tabView>

    <ng-template *ngIf="SearchResults" ngFor let-SearchResults [ngForOf]="SearchResults.items" let-i="index">
    	<app-item-list [SearchResults]="SearchResults"></app-item-list>
    </ng-template>

    <ng-template *ngIf="resultsSimultaneouslySearch" ngFor let-SearchResults [ngForOf]="resultsSimultaneouslySearch" let-i="index" [ngForTrackBy]="trackByFn">
        <ng-template ngFor let-resultsSimultaneouslySearch [ngForOf]="SearchResults.items" let-i="index">
            <app-item-list [SearchResults]="resultsSimultaneouslySearch"></app-item-list>
        </ng-template>
    </ng-template>
</div>

<app-product-detail></app-product-detail>
<router-outlet></router-outlet>
