      <div class="ui-g">
          <div class="ui-g-12 item-container">
            <div class="ui-g-2">
              <img *ngIf="SearchResults.volumeInfo.imageLinks" class="responsive" src="{{SearchResults.volumeInfo.imageLinks.thumbnail}}" alt="">
            </div>
            <div class="ui-g-10">
              <h2>{{SearchResults.volumeInfo.title}}</h2>
              <h3>{{SearchResults.volumeInfo.authors}}</h3>
              <div *ngIf="SearchResults.accessInfo.embeddable; else embeddable" class="available">
              Elérhető
              </div>
              <ng-template #embeddable>
                  <div class="notavailable">Nem kapható</div>
              </ng-template> 

              <app-add-cart-btn [selfLink]="SearchResults" [embeddable]="SearchResults.accessInfo.embeddable"></app-add-cart-btn>
            
              <p-button class="btn-top-gap" icon="fa fa-arrow-right" iconPos="right" label="Részletek" (click)="showDetails(SearchResults.selfLink)"></p-button>
            </div>
          </div>
        </div>