<div class="ui-g">
    <div class="ui-g-12 ui-md-12">
		<div class="ui-g-10">
		 	<input class="full-width" type="text" pInputText [(ngModel)]="whatWesearch"/>
		</div>

		<div class="ui-g-2">
			<p-button icon="fa fa-search" style="width: 100%;" styleClass="full-width" (onClick)="getSimpleSearch()"></p-button>
		</div>
	</div>
</div>
