/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body,input {
	font-family: 'Open Sans Condensed', sans-serif!important;
	font-size: 16px;
}

h2 {
	margin: 0;
	color: #003580;
}

h3 {
	margin: 0;
	font-size: 16px;
	color: #666;
}

.responsive {
  width: 100%;
  height: auto;
}

.full-width, button.full-width.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only  {
	width: 100%!important;
}

.alert{
	margin-top: 10px;
	color: red;
}